<div class="center hero-unit">
	<h3>Wishlist - KatieJo</h3>
	<h2>C'est ma liste de souhaits personnelle. Bienvenue!</h2>

	<%= link_to "Start your own list by signing up here!", signup_path, class: "btn btn-large btn-primary" %>
</div>