<div class="center hero-unit">
	<h1>Wishlist - KatieJo</h1>
	<h2>C'est ma liste de souhaits personnelle. Bienvenue!</h2>

	<%= link_to "Sign up here!", signup_path, class: "btn btn-medium btn-success" %>
</div>